<component name="ArtifactManager">
  <artifact type="war" name="mybatis-otm:war">
    <output-path>$PROJECT_DIR$/mybatis-otm/target</output-path>
    <root id="archive" name="myarchetypewebapp.war">
      <element id="artifact" artifact-name="mybatis-otm:war exploded" />
    </root>
  </artifact>
</component>